html { 
    overflow-y: hidden; 
} 

body{
    height: 100%;
    background-color: rgba(250, 250,250, 1);
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    position:relative;
    display:flex;
    justify-content: flex-start;
    flex-direction:column;
    margin:0;
    width:100vw;
    overflow:hidden;
    margin-top: 90px;
}

h2 {
    text-align: center;
}

a {
    color: #3897f0;
    text-decoration: none;
}

#container{
    height: 100%;
    overflow: hidden;
    display: flex;
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    background-color: rgba(250, 250, 250, 1);
    justify-content: center;
    align-items: center;
}

#formulary {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 0 10px;
    border-top-style: solid;
    border-top-width: thin;
    border-left-style: solid;
    border-left-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(230, 230, 230, 1);
}

#formulary_title {
    display: flex;
    justify-content: center;
    margin: 22px auto 12px;
}

#formulary_form{
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#formulary_form_advertisement {
    max-width: 175px;
    max-height: 50px;
}

#formulary_email {
   margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    flex-direction: row;
    max-height: 36px;
    height: 36px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-top-style: solid;
    border-top-width: thin;
    border-left-style: solid;
    border-left-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(230, 230, 230, 1);
}

#formulary_bot{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

#formulary_redirection {
    width: 40vw;
    height: 10vw;
}

#formulary_sign_in {
    font-size: 14px;
    margin: 15px;
    text-align: center;
}

#formulary_sign_up {
    font-size: 14px;
    margin: 15px;
    text-align: center;
}

#formulary_index_delog {
    font-size: 14px;
    margin: 15px;
    text-align: center;
}

.logo {
    max-width: 175px;
    max-height: 50px;
}

.advertisement {
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-align: justify;
}

.button {
    background-color: lightskyblue;
    border: none;
    color: white;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 28px;
    max-width: 268px;
}

.button:hover {
    opacity: 2;
}

.position_button{
    margin: 10px 40px;
    display: block;
    position: relative;
    max-width: 268px;
    max-height: 28px;
}

.form_design{
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    display: flex;
    padding: 0;
    position: relative;
    max-width: 268px;
    margin-top: 130px;
}