strong{
	margin-right: 30px;
	float: right;
	color: grey;
}

body{
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    position:relative;
    display:flex;
    justify-content: flex-start;
    flex-direction:column;
    margin:0;
    width:100vw;
    overflow:hidden;
}

#container{
    overflow: scroll;
    display:flex;
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    background-color: rgba(250, 250, 250, 1);
    justify-content: center;
    align-items: center;
}

.header{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-left-style: solid;
    border-left-width: thin;
    border-color: rgba(230, 230, 230, 1);
}

#footer{
	height: 90px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#footer_bar{
	position: fixed;
  /*  background-color: rgba(255, 255, 255, 0);*/
    height: 50px;
    width: 101%;
    margin-top: -10px;
    margin-left: -10px;
    bottom: 0;
}

#nav_bar {
    height: 75px;
    background-color: white;
}

#layout_picture{
    position:relative;
    display:flex;
    width: 935px;
    max-width: 935px;
    background-color: rgba(250, 250, 250, 1);
    height: 1275px;
    padding-top: 60px;
}


.position_navbar{
    max-width: 935px;
    width: 935px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 75px;
}

.logo_appareil{
    position: relative;
    width: 35px;
    height: 35px;
    max-width: 35px;
    min-width: 35px;
    min-height: 35px;
    margin-top: 20px;
    float: left;
}

.logo_camagru{
    border-left-style: solid;
    border-left-width: thin;
    border-color: rgba(0, 0, 0, 1);
    position: relative;
    width: 105px;
    height: 35px;
    max-width: 225px;
    min-width: 35px;
    min-height: 35px;
    margin-top: 18px;
    margin-left: 10px;
    float: left;
}

.logo_sign_in{
    position: relative;
    width: 30px;
    height: 30px;
    max-width: 30px;
    min-width: 30px;
    min-height: 30px;
    margin-right: 10px;
    margin-left: 20px;
}

.logo_sign_up{
    position: relative;
    width: 30px;
    height: 30px;
    max-width: 30px;
    min-width: 30px;
    min-height: 30px;
}

.header_content_left {
    display:flex;
    overflow:hidden;
    margin-left: 5px;
    margin-bottom: 10px;
}

.header_content_right {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2px;
}

.container_content_left{
    position:relative;
    float: left;
    max-width: 614px;
    width: 100%;
    min-height: 4463px;
    flex-direction: column;
    display: flex;
}

.container_content_right{
    position:fixed;
    width: 293px;
    padding-left:28px;
    margin-left:614px;
    height: 845px;
}

.insta_post{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-top-style: solid;
    border-top-width: thin;
    border-left-style: solid;
    border-left-width: thin;
    border-color: rgba(230, 230, 230, 1);
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 60px;
    margin-left: -1px;
    margin-right: -1px;
}

.header_post{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(230, 230, 230, 1);
    height: 27px;
    padding: 16px;
    max-height: 27px;
    line-height: 27px;
    position: relative;
    margin: 0;
    flex-direction: row;
    align-items: center;
    background-color: white;
    vertical-align: baseline;
}

.post_content{
    max-height: 614px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.display_picture{
    width: 100%;
    display: flex;
}

.post_buttons_comment{
    position: relative;
    flex-shrink: 0;
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    padding: 0 16px;
    background-color: white;
}

.buttons{
    display: flex;
    max-height: 40px;
    margin-top: 4px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    flex-direction: row;
}

.like_button{
    float: left;
    min-height: 40px;
    min-width: 40px;
    padding: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 40px;
    width: 40px;
}

.comment_button{
    float: left;
    min-height: 40px;
    min-width: 40px;
    padding: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 40px;
    width: 40px;    
}

.post_button{
    height: 24px;
    width: 24px;
}

.like_area{
    width: auto;
    max-height: 18px;
    margin-bottom: 8px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    flex-shrink: 0;
    padding: 0;
    position: relative;
}

.likes{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    font-weight: 600;
    color: #262626;

}

.comments{
    background: 0 0;
    border: 0;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
}

.comment_area{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.the_comment{
    line-height: 17px;
    overflow: hidden;
    padding-bottom: 6px;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    margin-top: -5px;
    padding-top: 5px;
    margin-right: -2px;
    padding-right: 2px;
}

.name_aera{
    width: calc(100% - 28px);
    display: inline-block;
    flex-direction: row;
}

.name_aera_sd{
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
    display: inline-block;
}

.name{
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
    text-decoration: none;
    color: #262626;
}

.quote{
    text-decoration: none;
    color: black;
}

.roundedimage{
    overflow: hidden;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

.pp{
    width: 30px;
    height: 30px;
}

.pp_sd{
    width: 50px;
    height: 50px;
}

.header_name{
    margin-top: -30px;
    margin-left: 42px;
}

.account_name_header{ 
    color: #262626;
    flex-grow: 0;   
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
    flex-shrink: 1;
}

.writing_area{
    background-color: white;
    border-top-style: solid;
    border-top-width: thin;
    border-color: rgba(230, 230, 230, 1);
    margin-top: 4px;
    padding-right: 26px;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.enter_comment{
    max-height: 18px;
    flex-direction: row;
    flex-shrink: 1;
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0px;
    border: none;
    width: 100%
}

.comment_box{
    width: 44vw;
    background: 0 0;
    border: 0;
    color: #262626;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
}

.header_other_user{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(230, 230, 230, 1);
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 62px;
    justify-content: space-between;
}

.header_alignment{
    flex-direction: row;
    height: 100%;
    margin-bottom: 12px;
    max-height: 50px;
    width: 100%;
    padding-left: 5px;
    align-items: center;
    display: flex;  
}

.header_pp_other_user{
    align-self: center;
    display: block;
    flex: none;
}

.roundedimage_sd{
    overflow: hidden;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

.alignment_name_other_user{
    justify-content: center;
    margin-left: 14px;
    flex-direction: column;
    display: flex;
}

.name_other_user{
    flex-direction: row;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    padding: 0;
}

.user{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    height: 18px;
    justify-content: space-between;
    margin: 12px 0px;
}

.user_name{
    width: 100%;
    color: #999;
    font-size: 14px;
    line-height: 18px;
}

.watch_all{
    width: 23%;
    color: #262626;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}

.position_user{
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.position_user_sd{
    height: 306px;
    overflow: hidden auto;
}

.alignment_user{
    flex-direction: column;
    padding-bottom: 8296px;
    padding-top: 0px;
}

.here_it_is{
        height: 68px;
}

.position_user::after{
    background-image: linear-gradient(to bottom,rgba(250,250,250,0),#fafafa 100%);
    bottom: 0;
    content: "";
    height: 16px;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.for_beauty{
    border-top: 1px solid #efefef;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 1px;
    margin: 0 0 12px;
    width: 100%;
    padding: 0;
}

@media screen and (max-width: 935px){
    .container_content_right{
        display: none;
    }
    .container_content_left{
        margin: auto;
    }
}