strong{
  margin-right: 30px;
  float: right;
  color: grey;
}

h1{
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
}

body{
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  position:relative;
  display:flex;
  justify-content: flex-start;
  flex-direction:column;
  margin:0;
  width:100vw;
  overflow:hidden;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
}


#container{
  overflow: scroll;
  display:flex;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  flex-direction: column;
  position: relative;
  background-color: rgba(250, 250, 250, 1);
  align-items: center;
}

.header{
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-right-style: solid;
  border-right-width: thin;
  border-left-style: solid;
  border-left-width: thin;
  border-color: rgba(230, 230, 230, 1);
}

#footer{
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#footer_bar{
  position: fixed;
  height: 50px;
  width: 101%;
  margin-top: -10px;
  margin-left: -10px;
  bottom: 0;
}

#nav_bar {
  height: 75px;
  background-color: white;
}

.position_navbar{
  max-width: 935px;
  width: 935px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 75px;
}

.logo_appareil{
  position: relative;
  width: 35px;
  height: 35px;
  max-width: 35px;
  min-width: 35px;
  min-height: 35px;
  margin-top: 20px;
  float: left;
}

.logo_camagru{
  border-left-style: solid;
  border-left-width: thin;
  border-color: rgba(0, 0, 0, 1);
  position: relative;
  width: 105px;
  height: 35px;
  max-width: 225px;
  min-width: 35px;
  min-height: 35px;
  margin-top: 18px;
  margin-left: 10px;
  float: left;
}

.logo_setting{
  position: relative;
  width: 30px;
  height: 30px;
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
  margin-right: 10px;
  margin-left: 20px;
}

.logo_logout{
  position: relative;
  width: 30px;
  height: 30px;
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
  margin-left: 20px;
}

.header_content_left {
  display:flex;
  overflow:hidden;
  margin-left: 5px;
  margin-bottom: 10px;
}

.header_content_right {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2px;
}

.layout_profile{
  position:relative;
  display:flex;
  width: 100%;
  max-width: 935px;
  background-color: rgba(250, 250, 250, 1);
  padding-top: 60px;
  min-height: 254px;
}


.layout_profile_info{
  max-width: 614px;
  width: 100%;
}

.header_profile_name{
  margin-bottom: 20px;
}

#header_profile{
  flex-direction: row;
  margin-bottom: 44px;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  max-width: 292px;
}

.header_profile_picture{
  width: 100%;
  max-width: 290px;
  margin-right: 31px;
  justify-content: center;
}

.header_profile_picture_sd{
  width: 150px;
  height: 150px;
  margin: auto;
}

.header_profile_picture {
  margin-right: 31px;
  justify-content: center;
  width: 100%;
  max-width: 290px;
}

.header_profile_picture_sd {
    width: 150px;
    height: 150px;
    margin: auto;
}

.header_profile_name {
  margin-bottom: 20px;
}

.header_profile_info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0px;
}

.info_post {
  margin-left: 0;
  margin-right: 10px;
  font-size: 16px;
}

#container_profile_picture {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  max-width: 935px;
  width: 100%;
  margin-bottom: 80px;
  padding: 0;
  position: relative;
}

.roundimage{
  overflow: hidden;
  border-radius: 80px;
  width: 150px;
  height: 150px;
  display: block;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}

.profile_row_picture{
  display: flex;
  margin-bottom: 28px;
  position: relative;
  width: 100%;
  flex-direction: row;
}

.profile_picture{
  margin: 0px 8px;
  max-height: 293px;
  max-width: 300px;
  width: 100%;
}

.dislay_pic{
  display: flex;
  max-width: 300px;
  max-height: 225px;
  width: 100%;
}

.aff_img_profile{
  flex-direction: column;
  flex-shrink: 0;
  padding: 0 40px;
  display: flex;
  min-height: 100%;
  overflow: auto;
  width: auto;
  z-index: 1;
}

#overlay {
  overflow: auto;
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  justify-content: space-between;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer;
}

#overlay_sd{
  align-items: center;
  overflow: auto;
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  justify-content: space-around;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer;
}

#overlay_td{
  align-items: center;
  overflow: auto;
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  justify-content: space-around;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer;
}

.content_img_profile{
  margin: auto;
  max-width: 935px;
  pointer-events: auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  background-color: #fff;
  position: relative;
}

.content_img_profile_sd{
  width: 100%;
  padding: 0;
}

.header_other_user{
  border-bottom: 1px solid #efefef;
  margin-right: 0;
  padding: 20px 0;
  position: absolute;
  right: 24px;
  top: 0;
  width: 287px;
}

.header_alignment{
  flex-direction: row;
  height: 100%;
  max-height: 50px;
  width: 100%;
  padding-left: 5px;
  align-items: center;
  display: flex;  
}

.header_pp_other_user{
  align-self: center;
  display: block;
  flex: none;
}

.roundedimage_sd{
  overflow: hidden;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: block;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}

.alignment_name_other_user{
  justify-content: center;
  margin-left: 14px;
  flex-direction: column;
  display: flex;
}

.name_other_user{
  flex-direction: row;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  padding: 0;
}

.pp_sd{
  width: 40px;
  height: 40px;
}
.account_name_header{
  text-decoration: none;
  color: #262626;
  flex-grow: 0;   
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
  flex-shrink: 1;
}

.img_overlay{
  left: 0;
  justify-content: center;
  margin-right: 335px;
}

.pos_article{
  background-color: #efefef;
  display: block;
  width: 100%;
}

.aff_img_profile::after, .aff_img_profile::before{
  content: '';
  display: block;
  flex-basis: 40px;
  flex-shrink: 0;
}

.pos_article_sd{
  display: block;
  overflow: hidden;
  /* padding-bottom: 100%; */
}

.add_img_profile{
  display: flex;
  position: relative;
  border-radius: 12px;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  flex-shrink: 1;
  margin: 20px;
  max-height: calc(100% - 40px);
}

.content_upload{
  justify-content: center;
}

.title_upload{
  margin: 16px 32px;
  text-align: center;
}

.title{
  display: block;
  color: #262626;
  font-weight: 600;
  font-size: 18px;
  margin: -4px 0 -6px;
  font-size: 16px;
  line-height: 24px;
  margin: -6px 0;
}

.up_button{
  width: 100%;
  font-size: 14px;
  color: #3897f0;
  font-weight: 700;
  cursor: pointer;
  line-height: 48px;
  padding: 153px;
}

.up_button_cancel{
  font-size: 14px;
  width: 100%;
  padding: 1px 7px 2px;
  color: inherit;
  font-weight: 700;
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #efefef;
  cursor: pointer;
  line-height: 48px;
  margin: 0;
  text-align: center;
}

.div_button{
  border-top: 1px solid #efefef;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  align-items: stretch;
  border: 0 solid #000;
  margin-top: 16px;
}

.comments{
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
  overflow: auto;
  margin: 0 -24px auto;
  order: 1;
  padding: 12px 24px;
}

.comment_area{
  flex-direction: column;
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.the_comment{
  line-height: 17px;
  overflow: hidden;
  padding-bottom: 6px;
  position: relative;
  width: 100%;
  word-wrap: break-word;
  margin-top: -5px;
  padding-top: 5px;
  margin-right: -2px;
  padding-right: 2px;
}

.name_aera{
  display: flex;
  width: calc(100% - 28px);
  display: inline-block;
  flex-direction: row;
}

.name_aera_sd{
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
  display: inline-block;
}

.name{
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
  text-decoration: none;
  color: #262626;
}

.quote{
  text-decoration: none;
  color: black;
}

.comment_profil_area{
  display: flex;
  flex-direction: column;
  bottom: 0;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  right: 0;
  top: 78px;
  width: 335px;
}

.buttons{
  border-top-style: solid;
  border-top-width: thin;
  border-color: rgba(230, 230, 230, 1);
  order: 2;
  max-height: 40px;
  margin-top: 4px;
  flex-shrink: 0;
  margin: 0;
  padding-top: 20px;
  position: relative;
  flex-direction: row;
}

.like_button{
  float: left;
  min-height: 40px;
  min-width: 40px;
  padding: 0;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  width: 40px;
}

.comment_button{
  float: left;
  min-height: 40px;
  min-width: 40px;
  padding: 0;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  width: 40px;    
}

.post_button{
  height: 24px;
  width: 24px;
}

.like_area{
  order: 3;
  width: auto;
  max-height: 18px;
  margin-bottom: 8px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  flex-shrink: 0;
  padding-bottom: 15px;
  position: relative;
}

.likes{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: 600;
  color: #262626;

}

.writing_area{
  order: 4;
  background-color: white;
  border-top-style: solid;
  border-top-width: thin;
  border-color: rgba(230, 230, 230, 1);
  margin-top: 4px;
  padding-right: 26px;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.enter_comment{
  max-height: 18px;
  flex-direction: row;
  flex-shrink: 1;
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0px;
  border: none;
  width: 100%
}

.comment_box{
  width: 44vw;
  background: 0 0;
  border: 0;
  color: #262626;
  font-size: inherit;
  height: 18px;
  max-height: 80px;
  outline: 0;
  padding: 0;
  resize: none;
}

.logo_account{
  position: relative;
  width: 30px;
  height: 30px;
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
  margin-right: 10px;
  margin-left: 20px;
}

.off{
  width: 100%;
  height: 100%;
  position: absolute;
}

.settings_choice{
  margin: 16px 0px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #efefef;
}

.trash_icon{
  width: 13px;
  float: right;
  cursor: pointer;
}

.trash_icon_sd{
 height: 24px;
 width: 24px;
}

.trash_button{
  float: right;
  min-height: 40px;
  min-width: 40px;
  padding: 0;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  width: 40px; 
}